.nav { padding:35px; width: 100%;}
.navbar {background-color:#DCEFF6;}
.nav-link {font-weight: bold;text-transform: uppercase;font-family: dosis;font-size: 13pt;letter-spacing:1pt;}
.nav-link:hover {animation: bounce 1s;}

.logo {height:220px;}
.logotop {margin-top:50px;margin-left:65px;position:absolute;}
.titel {margin-top:200px;}

h1 {font-family:dosis;font-size:20pt;margin-top:75px; margin-bottom:25px;}

h2 {font-family:dosis;font-size:15pt;margin-bottom:35px;}

h3 {font-family:dosis;font-size:11pt;margin-top:10px;}

hr {height:0,5pt;
    background-color:black;margin-top:55px;}

.card {margin-top:35px;}
.card-body {padding-bottom:25px;}

.mini {width:40px;}
.tabtekstje {padding-left:45px;}

.card-img-toplogo {width:155px;margin:0 auto;padding-top:25px;padding-bottom:20px;}
.card-img-varlogo {width:125px;margin:0 auto;padding-top:25px;padding-bottom:20px;}
.card-img-topkleur {width:25rem;margin:0 auto;padding-top:80px;padding-bottom:100px;}
.card-img-toptypo {width:15rem;margin:0 auto;padding-top:40px;padding-bottom:55px;}
.card-img-topfoto {width:25rem;margin:0 auto;padding-top:0px;padding-bottom:25px;}
.card-img-opvlak {width:25rem;margin:0 auto;padding-top:0px;padding-bottom:91px;}
.card-img-vullen {width:25rem;margin:0 auto;padding-top:0px;}
.card-img-breed {width:55rem;margin:0 auto;margin-top:30px;margin-bottom:40px;}
.card-img-toptech {width:15rem;margin:0 auto;padding-top:35px;padding-bottom:28px;}
.card-img-topdown {width:14rem;margin:0 auto;padding-top:35px;padding-bottom:20px;}

.card-img-kleuren {width:155px;margin:0 auto;padding-top:25px;padding-bottom:20px;}

.card-img-texturen {width:200px;margin:0 auto;padding-top:25px;padding-bottom:20px;}
.card-img-dekking {width:207px;margin:0 auto;padding-top:25px;padding-bottom:20px;}
.card-img-tech {width:56rem;margin:0 auto;padding-top:0px;padding-bottom:25px;}

.logofont {width:100%;}
.card-text {width:225px;margin:0 auto; text-align:center;}
.card-tech {width:45rem;margin:0 auto; text-align:center;}
.card-h1 {width:225px;margin:0 auto; text-align:center;padding-bottom:15px;}
.down-h1 {width:225px;margin:0 auto; text-align:center;padding-bottom:15px;padding-top:25px;}

footer {background-color:#FBE6F1;margin-top:145px;}
.footext {margin:0 auto; text-transform: uppercase;font-size: 9pt;}
.footlogo {width:65px;float:right;margin-right:35px;margin-bottom:25px;}
.artelogo {width:65px;margin-top:45px;margin-left:35px;}

.btn {background-color:#DCEFF6;width:220px;text-align:center;font-family:dosis;font-size:14pt;font-weight:bold;border:none;border-radius: 20px;}
.btncl {margin:0 auto;width:250px;padding:25px;}
.homenav {margin:0 auto;}

table {margin-bottom:35px;}

td {text-align: center;font-size:10pt;padding-right:25px;}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
